<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% include menu/menu %>

    <form action="addband" method="POST">
      <label for="name">Band:</label><br>
      <input type="text" id="name" name="name" /><br><br>
      <label for="place">Plats:</label><br>
      <input type="text" id="place" name="place" /><br><br>
      <label for="rate">Betyg:</label><br>
      <select id="rate" name="rate">
        
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>

      </select><br><br>
      <input type="submit" value="Lägg till band" /><br><br>
      <input type="button" value="Tillbaka" onClick="history.go(-1);return true;" />

    </form>


  </body>
</html>
