<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include menu/menu %>
    <ul>

	    <% band.forEach(function(value) { %>

	  	<li><a href="/singleband/<%=value._id %>"><%= value.name %></a></li>

	  	<% }); %>

  </ul>

  </body>
</html>
