<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include menu/menu %>

    <h2><%= singleBand.name %></h2>
    <p><%= singleBand.place %></p>
    <p><%= singleBand.rate %></p>
    <p><a href="/band">Tillbaka</a></p>
  </body>
</html>
